includes:
    - /tools/.composer/vendor-bin/phpstan/vendor/phpstan/phpstan-symfony/extension.neon
    - /tools/.composer/vendor-bin/phpstan/vendor/phpstan/phpstan-doctrine/extension.neon
    - /tools/.composer/vendor-bin/phpstan/vendor/phpstan/phpstan-phpunit/extension.neon
    - /tools/.composer/vendor-bin/phpstan/vendor/jangregor/phpstan-prophecy/src/extension.neon

parameters:
    #reportUnmatchedIgnoredErrors: false

    tmpDir: %currentWorkingDirectory%/var/phpstan
    level: 5
    paths:
        - ./src
        - ./public
        - ./bin
    excludes_analyse:
        - var/
        - vendor/
        - templates/
        - translations/
        - %currentWorkingDirectory%/src/Module/WebhostingModule/** # Disabled for now
        - %currentWorkingDirectory%/src/*/*/Tests/**

    checkNullables: false # To many false positives

    symfony:
        container_xml_path: %currentWorkingDirectory%/var/cache/dev/srcParkManager_KernelDevDebugContainer.xml
